{% include "index.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My-App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css')}}" />


</head>
<div id="form">
<form method="post" action="/todo/v1_v01/user/register">
   {{form.f_name.label}}<br />{{form.f_name(id="f_name")}}<br />
    {{form.l_name.label}}<br />{{form.l_name(id="l_name")}}<br />
    {{form.password.label}}<br />{{form.password(id="password")}}<br />
    {{form.dob.label}}<br />{{form.dob(id="dob")}}<br />
    {{form.sign_up(id="Sign_up")}}

</form></div>
<div id="login">
    <form method="post" action="/todo/v1_v01/user/login">
        {{form.name.label}}<br />{{form.name(id="name")}}<br />
        {{form.pas.label}}<br />{{form.pas(id="password")}}<br />
        {{form.sign_in(id="sign_in")}}<br />
    </form>
</div>
<div id="logout">
    <form method="post" action="/todo/v1_v01/user/logout">
        {{form.logout(id="logout")}}
    </form>
</div>
</html>